<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>HR Subsystem</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 50%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5">Update User</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/update/{id}(id=${employee.employee_id})}" th:object="${employee}"
                  method="post">
                <label for="name" class="col-form-label">Name</label>
                <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                <label for="dob" class="col-form-label">Email</label>
                <input type="date" th:field="*{dob}" class="form-control" id="dob" placeholder="dob">
                <span th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}" class="text-danger"></span>
                <label for="pay">Pay</label>
                <input type="text" th:field="*{pay}" id="pay" placeholder="Pay">
                <span th:if="${#fields.hasErrors('pay')}" th:errors="*{pay}"></span>
                <select name="employed">
                    <option th:each="statusOpt : ${T(at.fuerst.hrsubsystem.Status).values()}"
                            th:value="${statusOpt}" th:text="${statusOpt}"></option>
                </select>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Update User">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>